# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Ignore specific directory
apps.API.Tests/obj/
apps.Frontend.Tests/obj/
playwright-report/
.vs/
pnpm-lock.yaml
package-lock.json